/* ENTIRE SITE */
body {
  background-color: white;
  font-family: 'Oswald';font-size: 16px;
  text-decoration: none;
}

.home-page {
  width: 80%;
  margin: 0 auto; 
  text-align: center; 
}


/* NAVBAR SECTION */ 
*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 50vh;
  font-family: 'Oswald';font-size: 16px;
}
nav{
  background-color: black;
}

.logo img {
  width: 155px;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav a:hover{
  background-color: grey;
}

nav li:first-child{
  margin-right: auto;
}

.menu-button img {
  width: 26px; 
  height: 26px; 
}

.menu-icon {
  width: 26px; /* Adjust the width of the image as needed */
  height: 26px; /* Adjust the height of the image as needed */
  object-fit: contain; /* Maintain aspect ratio and fit the image within the specified dimensions */
}
.menu-link {
  text-align: left; /* Left-align the content within the link */
}


.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100%;
  width: 250px;
  background-color: black;
  color: white;
  backdrop-filter: blur(12px);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 999;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
    
  }

}

 /* HERO */

 .main-intro {
  position: relative; /* Add position relative to the container */
  width: 100%;
  height: 60vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.main-intro h1 {
  font-size: 80px;
  line-height: 80px;
  padding-bottom: 30px;
  color: white;
  text-align: left; 
}


.cta-button {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: white;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cta-button:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.cta-button:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: '';
  border-radius: inherit;
}

.main-intro {
  position: relative;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px; /* Adjust the width as needed */
  height: auto;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .main-intro {
    height: auto;
    padding: 20px;
  }

  .main-intro h1 {
    font-size: 40px; /* Adjust font size for mobile */
    line-height: 50px; /* Adjust line height for mobile */
    text-align: center;
    padding-bottom: 20px;
  }

  .cta-button {
    /* Adjust button styles for mobile */
  }

  .hero-image {
    width: 40%; /* Adjust width for mobile */
    position: static; /* Remove absolute positioning */
    margin-top: 20px; /* Add margin for spacing */
  }
}

/* ABOUT */
.about-section {
  background-color: #fffce9;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-image img {
  max-width: 80%;
  height: auto;
  margin-right: 20px;
  border-radius: 10px; /* Add rounded corners */
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h3 {
  font-size: 40px;
  padding-bottom: 5px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .about-content {
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: flex-start; /* Align items to the start */
  }

  .about-image img {
    max-width: 100%; /* Take up full width on mobile */
    margin-right: 0; /* Remove margin on mobile */
    margin-bottom: 20px; /* Add spacing between image and text on mobile */
  }
}

/* COFFEE CARDS */
.coffee-cards {
  background-color: black;
}

.coffee-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 920px;
  height: auto;
  margin: 30px auto;
  margin-bottom: 0px;
}

h1 {
  color: white;
  font-size: 66px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%; /* Adjust the width of each box */
  background: white;
  border-radius: 10px;
  transition: 0.9s;
  margin: 20px;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  cursor: pointer;
}

img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex: 1; /* Allow the image to grow within its container */
}
a {
  text-decoration: none;
}
h4 {
  margin-left: 5px;
  color: black;
}

h3,
p {
  text-decoration: none;
  text-align: left;
  color: black;
  padding: 0 5px;
  margin: 0; /* Remove default margin */
}

p {
  font-size: 15px;
  padding: 0 5px;
  text-decoration: none;
}


.btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
  margin-top: auto; /* Push the button to the bottom */
  margin-bottom: 20px; /* Add more white space under the button */
  display: inline-block; /* Make the button inline-block */
  width: 50%;
}

.btn:hover {
  background-color: #333;
}

.button-container {
  margin-bottom: 10px; /* Add some space between buttons and text */
}



.outlined-btn {
  display: inline-block;
  font-size: 12px;
  padding: 10px 20px;
  margin-right: 10px; /* Add space between buttons */
  text-decoration: none;
  color: black; /* Text color */
  border: 1px solid black; /* Border style */
  border-radius: 25px; /* Border radius */
  transition: background-color 0.3s, color 0.3s;
}

.outlined-btn:hover {
  background-color: #fffce9; /* Change background color on hover */
  color: black; /* Change text color on hover */
}


/* Media query for mobile responsiveness */

@media only screen and (min-width: 600px) {
  .coffee-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap into multiple rows */
    justify-content: space-between;
  }

  .box {
    width: calc(30% - 20px); /* Adjust width for three cards in a row */
    margin-bottom: 20px; /* Space between cards */
  }
}

/* Ensure cards stack vertically on smaller screens */
@media only screen and (max-width: 599px) {
  .coffee-container {
    display: block; /* Change to block layout */
  }

  .box {
    margin-bottom: 20px; /* Space between cards */
  }
}



/* HOURS */
.hours-section {
  background-color: #fffce9;
  padding: 50px 0;
  margin-top: 0px;
}

.hours-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hours-content {
  display: flex;
  align-items: center;
}

.hours-image img {
  max-width: 80%;
  height: auto;
  margin-right: 20px;
  border-radius: 10px; /* Add rounded corners */
}

.hours-text {
  flex: 1;
}

.hours-text h2 {
  font-size: 60px;
}

.hours-text h3 {
  font-size: 40px;
  padding-bottom: 5px;
}

.hours-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.experience {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .hours-content {
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: flex-start; /* Align items to the start */
  }

  .hours-image img {
    max-width: 100%; /* Take up full width on mobile */
    margin-right: 0; /* Remove margin on mobile */
    margin-bottom: 20px; /* Add spacing between image and text on mobile */
  }
}

/* EXPERIENCE */
.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap into multiple rows */
  justify-content: center; 
  gap: 10px; 
  margin: 20px auto;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  width: 15%;
}

.card img {
  width: 100%;
  display: block;
}

.description {
  padding: 10px;
  background-color: black;
  color: white;
}

.description p {
  margin: 0; 
}

.quote {
  color: white;
}

.experience {
  padding-top: 50px;
  text-align: left;
}
/* Keep the existing styles */

/* Add a media query for mobile */
@media only screen and (max-width: 600px) {
  .cards-container {
    display: block; /* Change to block layout */
  }

  .card {
    width: 100%; /* Set cards to occupy full width */
    margin-bottom: 20px; /* Add space between cards */
  }
}




/* BOTTOM BAR */
.bottom-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.bottom-bar a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.bottom-bar p {
  color: white;
  margin: 0;
  font-size: 14px;
  display: inline; /* or display: inline-block; */
  white-space: nowrap; /* Prevent text from wrapping */
}


